<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/panka/IdeaProjects/APIAutomation">
        <classes><class name="RestAssured.GET.APITesting001_BDDStyleGet">
            <methods><include name="test_GET_Req_Positive"/><include name="test_GET_Req_Negative"/></methods>
            </class>

            <class name="RestAssured.GET.APITesting002_NonBDDStyleGET">
                <methods><include name="test_GET_Req_Positive"/></methods>
            </class>
        </classes>
    </test>
</suite>



